*-orig.*
*.bak
*.cache
*.exist
*.Export.*
*.handover
*.new
*.nupkg
*.old
*.orig
*.Package.ps1
*.psprojs
*.resharper
*.RestorePoint.*
*.Run.ps1
*.stackdump
*.suo
*.swo
*.swp
*.TempPoint.*
*.test
*.work
*/working
*~
.DS_Store
_ReSharper*
api_key
CustomMenu.inf
ketarin/soluto.xml
New folder*
New Text Document*.txt
obj
Thumbs.db
Update-AUPackages.md
Update-Force-Test*
Update-History.md
update_info.xml
update_vars.ps1
